newfs_msdos.c filter=lfs diff=lfs merge=lfs -text
mkfs_msdos.h filter=lfs diff=lfs merge=lfs -text
newfs_msdos.8 filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
mkfs_msdos.c filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
freebsd-compat.h filter=lfs diff=lfs merge=lfs -text
